@media (max-width: 767px) {
  .button-1 {
    left: 10%;
    top: 30%;
  }

  .button-2 {
    left: 90%;
    top: 40%;
  }

  .button-3 {
    left: 90%;
    top: 65%;
  }

  .button-4 {
    left: 10%;
    top: 60%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .button-1 {
    left: 30%;
    top: 30%;
  }

  .button-2 {
    left: 30%;
    top: 65%;
  }

  .button-3 {
    left: 70%;
    top: 35%;
  }

  .button-4 {
    left: 71%;
    top: 60%;
  }
}

@media (min-width: 1024px) {
  .button-1 {
    left: 35%;
    top: 25%;
  }

  .button-2 {
    left: 35%;
    top: 65%;
  }

  .button-3 {
    left: 65%;
    top: 60%;
  }

  .button-4 {
    left: 65%;
    top: 30%;
  }
}
